Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('ratings.csv')
data[data['rating'] == 5]['movieId'].value_counts().head(1)

318    48762
Name: movieId, dtype: int64

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [4]:
power = pd.read_csv('power.csv')
power[ power['country'].str.contains('est', case=False) ]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [5]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [6]:
sum1 = power[(power['year'] >= 2005 ) & (power['year'] <= 2010) ]

In [7]:
sum2 = sum1[sum1.category.isin([4 , 12 , 21 ])]

In [13]:
sum3 = sum2[sum2.country.isin(['Latvia' , 'Lithuania' , 'Estonia' ])]

In [14]:
sum_end = sum3[sum3.quantity > 0]

In [17]:
sum_quant = sum_end.quantity.sum()

In [18]:
sum_quant

240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
www.finanz.ru...om-vremeni

In [19]:
pd.read_html('https://fortrader.org/quotes')[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  86.57       0.00          0.00        NaN
1       USDRUB Курс рубля к доллару  71.64       0.01          0.01        NaN